{
  "extends": "adidas-typescript",
  "parserOptions": {
    "tsconfigRootDir": "."
  },
  "rules": {
    "@typescript-eslint/no-magic-numbers": [
      "error",
      {
        "ignore": [
          0
        ]
      }
    ]
  }
}
